.ietvars {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(169, 223, 178);
}

h1 {
    padding: 15px;
    text-align: center;
    background: rgb(136, 209, 148);
    color: rgb(69, 126, 78);
}

h3 {
    padding: 15px;
   color: rgb(69, 126, 78); 
}

p {
    padding: 15px;
    color: rgb(69, 126, 78); 
}

button {
     background-color:  rgb(136, 209, 148);
    color: rgb(69, 126, 78);
    border: 2px solid rgb(69, 126, 78);
}

td {
    color: rgb(69, 126, 78);
}

th {
    color: rgb(69, 126, 78);

}

ul {
    text-align: center;
    padding: 0px;
}

li {
    display: inline-block;
}

.speles_lauk {
    display: flex;
    flex-wrap: wrap;

    width: 485px;
    background: rgb(255, 186, 140);
    text-align: center;
    margin: auto;
    padding: 10px;

}

.bloks {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 167, 95);
    width: 100px;
    height: 100px;
    margin: 10px;
    font-size: 45px;
    border-radius: 5px;
    transition: background 0.3s;
}

table{
width: 100%;
margin-top: 20px;
border-collapse: collapse;
}

th, td{
border: 2px solid rgb(69, 126, 78);
padding: 10px;
text-align: center;
}

th{
background: rgb(136, 209, 148);
color: rgb(69, 126, 78);
}

tr :nth-child(even) {
background: rgb(136, 209, 148);
}

.bloks:hover {
    background: rgb(248, 138, 47);
    cursor: pointer;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
    background-color:  rgb(136, 209, 148);
    color: rgb(69, 126, 78);
    border: 2px solid rgb(69, 126, 78);
}

a:hover {
    background-color:rgb(96, 189, 110);
    transform: scale(1.05);
}

a:active {
    background-color: rgb(96, 189, 110);
    color: rgb(69, 126, 78);
    transform: scale(1.05);
}

footer {
margin-top: 30px;
text-align: center;
padding: 10px;
background: rgb(136, 209, 148);
color: rgb(69, 126, 78);
border-radius: 12px;
}